footer.foot
      .container.foot__block
        .foot__block__df
          a.foot__block__df__red(href='#') DREAMSHARE
          .foot__block__df__list
            p Company
            ol.foot__block__df__list__bot
              li About
              li Contact
              li Press
              li Blog
              li Terms and Privacy
              li Help
          a.foot__block__df__solo(href='#') Partners
        .foot__block__logo
          p.foot__block__logo__txt DESIGNED BY
          img(src='./image/bitmap.webp', alt='')
