header.header
      nav.header__menu
        a.header__menu__logo(href='#') DREAMSHARE
        ul.header__menu__list
          li.header__menu__list__item
            a(href='#') Log in
          li.header__menu__list__item.header__menu__list__item_active
            a(href='#') Sign up
      .header__text
        a.header__text__text_hide(href='#') DREAMSHARE
        p.header__text__text
          | SHARE YOUR
          | HOLIDAY DREAM
        p.header__text__text_low And find the perfect partner to fullfill it
        input.header__text__button(type='button', value='Find your holiday partner')